/*  your css code here. If applicable */
 body {
        font-family: Arial, sans-serif;
    }
    form {
        max-width: 300px;
        margin: 0 auto;
    }
    input[type="text"],
    input[type="password"],
    input[type="submit"],
    label {
        display: block;
        margin-bottom: 10px;
    }